<input type="text" [(ngModel)]="serverName"/>
<input type="button" [ngStyle]="addButtonCSSStyles()" value="Add Server" (click)="addServer()" />
<hr />

<textarea [(ngModel)]="userInput" placeholder="Type your content here"></textarea>
<button (click)="toggleDetails()">Display Details</button>

<p *ngIf="showDetails">{{ userInput }}</p>

<div *ngFor="let log of buttonClicks; let i = index" [ngStyle]="i >= 4 ? {'background-color': 'blue', 'color': 'white'} : {}" [ngClass]="i >= 4 ? 'log-styling' : ''">
  {{ i+1 }}. {{ log }}
</div>